<div class="col-xs-3">
    <ul class="nav nav-pills nav-stacked">
        {% for item in inbox %}
            <li {% if ID == item.ID %}class="active"{% endif %}>
                <a href="index.php?par={{ par }}-{{ item.ID }}" title="{{ item.info }}">
                    {% if item.name %}{{ item.name }}<br />{% endif %}
                    {% if item.phone %}{{ item.phone }}<br />{% endif %}
                    {% if item.email %}{{ item.email }}<br />{% endif %}
                    {{ item.date_create_str }}
                </a>
                <div class="btn-group btn-group-xs button-edit">
                    <button class="btn btn-info" title="Изменить" onclick="showModal('{{ par }}', '{{ item.ID }}', 'showEdit');" style="width: 47px;">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button class="btn btn-danger" title="Удалить" onclick="showDeleteConfirm('{{ par }}', '{{ item.ID }}');">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>