<div class="col-xs-3">
    <table class="table table-striped table-hover">
        {% for item in inbox %}
            <tr class="order-{{ item.ID }}">
            <td {% if ID == item.ID %}class="active"{% endif %}>
                <a href="index.php?par={{ par }}-{{ item.ID }}" title="{{ item.info }}"
                   onclick="showOrder('{{ par }}', '{{ item.ID }}', 'showData'); return false;">
                    {% if item.name %}{{ item.name }}<br />{% endif %}
                    {% if item.phone %}{{ item.phone }}<br />{% endif %}
                    {% if item.email %}{{ item.email }}<br />{% endif %}
                    {{ item.date_create_str }}
                </a>
            </td>
            </tr>
        {% endfor %}
    </table>
</div>
<div class="col-xs-6">
    <div class="lead-content" style="display: none;"></div>
</div>
<script type="text/javascript">
    function showOrder(par, id, action)
    {
        dataToAjax = {action: action, par: par, id: id};

        $.ajax({
            url: 'index.php',
            data: dataToAjax,
            success: function (data)
            {
                if ('data' in data && 'content' in data.data) {
                    $('.lead-content').show();

                    var relatedData = 'orderId-' + id;

                    var contactContent = '';
                    if ('lead' in data.data && parseInt(data.data.lead) === 0) {
                        {% if contactPersonStructureId is defined %}
                        contactContent += '<button class="btn" title="Создать/привязать к контакту" ' +
                            'onclick="showModal(' +
                            '\'{{ contactPersonStructureId }}\', \'0\', \'showCreate\', \'' + relatedData + '\');">\n' +
                            '<span class="glyphicon glyphicon-user"></span>\n' +
                            '</button>\n';
                        {% endif %}
                    }

                    // Дополняем контент заявки кнопками
                    var content = '<div class="btn-group btn-group-xs button-edit">\n' +
                        '<button class="btn btn-info" title="Изменить" ' +
                        'onclick="showModal(\'' + par + '\', \'' + id + '\', \'showEdit\');" style="width: 47px;">\n' +
                        '<span class="glyphicon glyphicon-pencil"></span>\n' +
                        '</button>\n' +
                        '<button class="btn btn-danger" title="Удалить" ' +
                        'onclick="showDeleteConfirm(\'' + par + '\', \'' + id + '\');">\n' +
                        '<span class="glyphicon glyphicon-remove"></span>\n' +
                        '</button>\n' + contactContent +
                        '</div>' + data.data.content;
                    $('.lead-content').html(content);
                }
            },
            type: 'GET',
            dataType: "json"
        });

    }
</script>