{% extends "site.twig" %}

{% block content %}

    <h1>{{ header|raw }}</h1>

    {# Сначала выводим все аддоны типа "Текст" #}
    {% for value in page %}
        {{ value.content|raw }}
    {% endfor %}

    {# Затем выводим все аддоны типа "PHP-файл" #}
    {% for value in phpfile %}
        {{ value.content|raw }}
    {% endfor %}

    {# Затем выводим все аддоны типа "Карта сайта" #}
    {% for value in sitemap %}
        {{ value.content|raw }}
    {% endfor %}

    {% if parts|length > 0 %}
        <ul>
            {% for part in parts %}
                <li><a href="{{ part.url }}">{{ part.name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}