<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="canonical" href="{{ canonical|raw }}"/>
    <title>{{ title }}</title>
    {{ metaTags|raw }}

    <base href="{{ startUrl }}/">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if minifier == 1 %}
        <link media="all" rel="stylesheet" type="text/css" href="css/all.min.css?{{ "
            css[]=#{startUrl}/js/bootstrap/css/bootstrap.min.css
            &css[]=#{startUrl}/js/fancybox/jquery.fancybox.css"
        | replace({'[':'%5B', ']':'%5D', "\n": '', ' ':''}) }}">
        <script type="text/javascript" src="js/all.min.js?{{ "
            js[]=#{startUrl}/js/jquery/jquery.min.js
            &js[]=#{startUrl}/js/bootstrap/js/bootstrap.min.js
            &js[]=#{startUrl}/js/fancybox/jquery.fancybox.pack.js
            &js[]=#{startUrl}/js/jsFlashCookies/swfstore.min.js
            &js[]=#{startUrl}/js/jsFlashCookies/refererDetector.js"
        | replace({'[':'%5B', ']':'%5D', "\n": '', ' ':''}) }}">
        </script>
    {% else %}
        <link href="js/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="js/fancybox/jquery.fancybox.css" rel="stylesheet">
        <script type="text/javascript" src="js/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="js/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/fancybox/jquery.fancybox.pack.js"></script>
        <script type="text/javascript" src="js/jsFlashCookies/swfstore.min.js"></script>
        <script type="text/javascript" src="js/jsFlashCookies/refererDetector.js"></script>
    {% endif %}
    <style type="text/css">
        .footer {position: absolute; top: 100%; height: 40px; margin-top: -40px;}
    </style>
</head>

<body>

<div class="container">

    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-main-navbar-collapse-1">
                <span class="sr-only">Меню</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ domain }}</a>
        </div>
        <div class="navbar-collapse collapse" id="bs-main-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% for item in mainMenu %}
                    <li {% if item.isActivePage %} class="active" {% endif %}>
                        <a {{ item.link | raw }}>{{ item.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    {% if breadCrumbs != '' %}
        <ul class="breadcrumb">
            {% for item in breadCrumbs %}
                <li>
                    {% if loop.last %}
                        {{ item.name }}
                    {% else %}
                        <a {% if item.link %}href="{{ item.link }}"{% endif %}>{{ item.name }}</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% block content %}
    {% endblock %}

    <hr>

    <div class="footer">
        <div class="copy">
            &copy; 2012&#8212;{{ year }} <a href="http://idealcms.ru/" target="_blank">Ideal CMS</a>
        </div>
    </div>

</div>

{% if not isAdmin %}
    <!--
        здесь нужно ставить код подключения скриптов внешних счётчиков,
        типа Метрики или Google Analytics, чтобы они не считали администраторов сайта
    -->
{% endif %}

{% if isProduction %}
    <!--
        здесь нужно ставить код, который будет отображаться только на рабочем сайте,
        но не будет на сервере разработчика — информеры, онлайн-консультанты и т.п.
    -->
{% endif %}

</body>
</html>
