{% extends "site.twig" %}

{% block content %}

    <h1>{{ header|raw }}</h1>

    {# Сначала выводим все аддоны типа "Текст" #}
    {% for value in page %}
        {{ value.content|raw }}
    {% endfor %}

    {# Затем выводим все аддоны типа "PHP-файл" #}
    {% for value in phpfile %}
        {{ value.content|raw }}
    {% endfor %}

    {# Затем выводим все аддоны типа "Карта сайта" #}
    {% for value in sitemap %}
        {{ value.content|raw }}
    {% endfor %}

    {% if parts|length > 0 %}
        {% for part in parts %}
            <p>
                <small>{{ part.date_create }}</small>
                <br/>
                <strong>
                    {% if part.content == '' %}{{ part.name }}
                    {% else %}<a href="{{ part.link }}">{{ part.name }}</a>
                    {% endif %}
                </strong>
                {% if part.annot != '' %}<br/>{% endif %}
                {{ part.annot }}
            </p>
        {% endfor %}
    {% endif %}

    {% if pager.pages|length > 1 %}
        <div class="pagination pagination-left">
            <ul>
                {% for page in pager.pages %}
                    {% if page.current == 1 %}
                        <li class="active"><a>{{ page.num }}</a></li>
                    {% else %}
                        <li><a href="{{ page.url }}">{{ page.num }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}

{% endblock %}